
trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  BuildConfiguration: 'Release'
  DotNetVersion: '8.0.x'

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
      - checkout: self
      - task: UseDotNet@2
        inputs:
          packageType: 'sdk'
          version: '$(DotNetVersion)'
      - script: dotnet restore WebApiSample.sln
        displayName: 'Restore'
      - script: dotnet build WebApiSample.sln --configuration $(BuildConfiguration) --no-restore
        displayName: 'Build'
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: 'src/WebApiSample/bin/$(BuildConfiguration)'
          ArtifactName: 'drop'

- stage: Test
  dependsOn: Build
  jobs:
  - job: Test
    steps:
      - checkout: self
      - task: UseDotNet@2
        inputs:
          packageType: 'sdk'
          version: '$(DotNetVersion)'
      - script: dotnet test WebApiSample.sln --configuration $(BuildConfiguration) --logger "trx;LogFileName=test_results.trx"
        displayName: 'Run tests'
      - task: PublishTestResults@2
        inputs:
          testResultsFormat: 'VSTest'
          testResultsFiles: '**/*.trx'

- stage: Deploy
  dependsOn: Test
  jobs:
  - deployment: DeployWebApp
    environment: 'dev'
    strategy:
      runOnce:
        deploy:
          steps:
            - download: current
              artifact: drop
            - task: AzureWebApp@1
              inputs:
                azureSubscription: 'YOUR-SERVICE-CONNECTION'
                appType: 'webAppLinux'
                appName: 'your-webapp-name'
                package: '$(Pipeline.Workspace)/drop'
